<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hobbies Page</h1>

    <% if(hobbies.length === 0) { %>
        <h4>There are currently no hobbies</h4>
    <% } else { %>
        <ul>
          <% hobbies.forEach(function(hobby) { %>
            <li>
              <%= hobby.name %> - <a href="/hobbies/<%= hobby._id %>">view details</a>
            </li>
            <form action="/hobbies/<%= hobby._id %>?_method=DELETE" method="POST">
              <button type="submit" class="delete">X</button>
            </form>
          <% }) %>
        </ul>    
    <% } %>

    
    <h3>--------------------------------</h3>
    <h2>Add New Hobby!</h2>
    <div>
      <form action="/hobbies" method="POST">
        <div>
          <input type="text" name="name" placeholder="hobby name" autocomplete="off">
        </div>
        <div>
          <input type="text" name="description" placeholder="hobby description" autocomplete="off">
        </div>
        <div>
          <button type="submit">Submit Hobby</button>
        </div>
      </form>
    </div>



  </body>
</html>
